spring.application.name=demo13

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE

server.error.path=/error

spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

spring.flyway.enabled=true
spring.flyway.locations=classpath:db
flyway.baseline-on-migrate=true

spring.data.redis.port=6379
spring.session.redis.flush-mode=on_save
spring.session.redis.namespace=spring:session

Укажите ваши данные
spring.datasource.url=jdbc:postgresql://localhost:5433/project6
spring.datasource.username=your_username
spring.datasource.password=your_password

minio.url=http://localhost:9000
minio.access-key=your_username
minio.secret-key=your_password


